/*--------------------------------------------------------------
# body
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-image: url("images/back\ ground.jpg");
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
}


/*--------------------------------------------------------------
# home page
--------------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 18px;
    margin: 2ex;
}

li {
    display: flex;
    text-decoration: none;
    margin-block-start: 2ex;
    justify-content: space-between;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.mypic-area {
    clear: both;
    height: 3px;
    position: relative;
    margin-top: auto;
    margin-bottom: 400px;
}

.hero-text {
    margin-left: 200px;
    margin: bottom 150px;
}

.mypic-area {
    display: flex;
}

.my-picture {
    display: inline-block;
    height: 400px;
    margin: 250px;
    border-radius: 300%;
    margin-right: 20px;
    margin-top: auto;
}

.logo {
    display: inline-block;
    height: 50px;
    margin: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.sub-section-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.social-media {
    padding-bottom: 200px;
}

.social {
    margin: 200px;
}

.melaku-pic {
    display: flex;
    width: 300px;
    border: #999b99;
}

.aboutme-container {
    display: flex;
    align-items: center;
}


/*--------------------------------------------------------------
# project section
--------------------------------------------------------------*/

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin: 40px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

.work-image {
    width: 200px;
    height: 400px;
    ;
}

.work-image2 {
    width: 200px;
    height: 400px;
}

a {
    text-decoration: none;
    color: white;
}


/*--------------------------------------------------------------
# Skill section
--------------------------------------------------------------*/

.project-skillcard {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
    background-color: aliceblue;
}

.sub-skillsection-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration-color: rgb(138, 97, 47);
    padding: 80px;
    background-color: #b4b4b4;
}

.project-skillcontainer {
    display: flex;
    justify-content: space-around;
    background-color: #999b99;
    flex-wrap: wrap;
}

.skill-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
    width: 200px;
    height: 200px;
    margin: 40px;
}


/*--------------------------------------------------------------
# My Resume
--------------------------------------------------------------*/

.resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3b434a;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #82909c;
    position: relative;
}

.resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffb727;
    margin-bottom: 10px;
}

.resume-item h5 {
    font-size: 16px;
    background: #eef0f2;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------
# fotter 
--------------------------------------------------------------*/

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}